{% extends 'base.html' %}
{% block title %}
  {{ title }}
{% endblock %}
{% block content %}
{% load user_filters %}
    <main>
      <div class="container py-5">
        <div class="row justify-content-center">
          <div class="col-md-8 p-5">
            <div class="card">
              {% if is_edit %}
              <div class="card-header">       
                Редактировать запись           
              </div>
              <div class="card-body">      
                <form method="post" action="{% url 'posts:post_edit' post.id %}">
                  {% csrf_token %}                     
                    {% for field in form %}
                      <div class="form-group row my-3"
                        {% if field.field.required %} 
                          aria-required="true"
                        {% else %}
                          aria-required="false"
                        {% endif %}
                      >
                        <label for="{{ field.id_for_label }}">
                          {{ field.label }}
                            {% if field.field.required %}
                              <span class="required text-danger">*</span>
                            {% endif %}
                        </label>
                          <div>
                          {{ field|addclass:'form-control' }}
                            {% if field.help_text %}
                              <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
                                {{ field.help_text|safe }}
                              </small>
                            {% endif %}
                          </div>
                        </div>
                      {% endfor %}
                  <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">
                      Добавить
                    </button>
                  </div>
                </form>
              </div>
              {% else %}
              <div class="card-header">       
                Добавить запись           
              </div>
              <div class="card-body">
                <form method="post" action="{% url 'posts:create_post' %}">
                  {% csrf_token %}                     
                    {% for field in form %}
                      <div class="form-group row my-3"
                        {% if field.field.required %} 
                          aria-required="true"
                        {% else %}
                          aria-required="false"
                        {% endif %}
                      >
                        <label for="{{ field.id_for_label }}">
                          {{ field.label }}
                            {% if field.field.required %}
                              <span class="required text-danger">*</span>
                            {% endif %}
                        </label>
                          <div>
                          {{ field|addclass:'form-control' }}
                            {% if field.help_text %}
                              <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
                                {{ field.help_text|safe }}
                              </small>
                            {% endif %}
                          </div>
                        </div>
                      {% endfor %}
                  <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">
                      Сохранить
                    </button>
                  </div>
                </form>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </main>
{% endblock content %}    
